<div class="hero min-h-fit bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-4xl font-bold">毎日の食事と排便を記録すると、<br>あなたの胃腸と食事の相性を自動で判別してくれるアプリです。</h1>
      <p class="py-6">胃腸の弱いあなたは、まずLINE連携ログインから始めてみて下さい。<br>
        ※胃腸の強さに自信のある方は使用をお控え下さい。</p>
      <button class="btn bg-green-500 text-white">LINE連携ログイン</button>
    </div>
  </div>
</div>

<div class="lg:flex justify-center items-center gap-4 space-y-4">
  <div class="card w-96 bg-base-100 shadow-xl mx-auto">
    <div class="card-body">
      <h2 class="card-title">1.毎日の食事と排便を記録する</h2>
      <p>あなたの毎日の食事メニュー名、排便の状態(良い・普通・悪い)を記録しましょう。<br>
        ログイン後のマイページか、公式LINEから記録を行うことができます。</p>
    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl mx-auto">
    <div class="card-body">
      <h2 class="card-title">2.食事との相性を教えてくれる</h2>
      <p>あなたの記録が増えていくほど、アプリがあなたの胃腸を理解していきます。<br>
        記録を元に、あなたと相性の良い食事、悪い食事をアプリが教えてくれます。<br></p>
    </div>
  </div>
  <div class="card w-96 bg-base-100 shadow-xl mx-auto">
    <div class="card-body">
      <h2 class="card-title">3.健康な胃腸を手に入れる</h2>
      <p>アプリが教えてくれる食事との相性を参考に、毎日の食事を整えていくことで、<br>
        胃腸の調子を改善し、健康な肉体を目指していきましょう。</p>
    </div>
  </div>
</div>

<div class="min-h-fit bg-base-200 p-4">
    <div class="max-w-xl">
      <h1 class="text-4xl font-bold">詳しい使い方</h1>
    </div>
</div>

<div class="space-y-4">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">1.LINE連携ログインをする</h2>
      <p>ヘッダーかトップページ上部のLINE連携ログインをクリックし、あなたのLINEアカウントでログインします。ログイン後は自動的にマイページに飛ばされます。<br></p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">2.マイページで出来ること</h2>
      <p>全ての機能がマイページ内に集約されています。<br>
      ・食事と排便の記録　 :上部の記録フォームから毎日の記録が行えます。日時を入力しなかった場合は、入力した時刻で記録されます。<br>
      ・相性判定結果の確認 :あなたと食事との相性をアプリが判定すると、マイページにその結果が表示されます。<br>
      ・記録履歴の確認　　 :あなたの記録履歴が一覧で確認できます。</p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">3.LINEBOTから記録してみる</h2>
      <p>LINEBOTを友だち登録してみましょう。<br>
      LINEBOTからもほとんどの機能が利用可能です。<br>
      ・食事と排便の記録 :ボタンを押してメッセージで記録することができます。<br>
      ・相性判定結果の確認 :ボタンを押すことで、判定済みの食事をランダムに選んで送ってくれます。</p>
    </div>
  </div>
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">4.記録と改善を繰り返す</h2>
      <p>日々の記録を続け、避けるべき食事の頻度を減らすことを続けていきましょう。</p>
    </div>
  </div>
</div>

<div class="hero min-h-fit bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-xl">
      <h1 class="text-4xl font-bold">下痢・便秘にお悩みのあなたへ</h1>
      <p class="py-6">あなたの胃腸の乱れはどこから来ていますか？<br>
        ストレス・持病・冷え・食事など、様々な原因があると思います。<br>
        もちろん下痢や便秘には複合的な要因によって引き起こされていますし、<br>
        重篤な症状の治療となれば、医療機関を受診すべきです。<br>
        その上で私は、日々の食事の分析と管理によって、胃腸の改善に取り組みます。<br>
        このアプリは、私が実際に行っていた食事の分析と管理に、<br>
        誰でも気軽に取り組めるようにという思いで作りました。<br>
        あなたが健康を目指したいと思っているのなら、きっと良い助けとなります。
        </p>
    </div>
  </div>
</div>