<footer class="footer footer-center p-10 bg-base-100 text-base-content rounded">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to '運営者リンク', "https://x.com/nmtyyddtmg", class: "link link-hover", target: :_blank, rel: "noopener noreferrer" %>
    <%= link_to '利用規約', terms_path, class: "link link-hover" %>
    <%= link_to 'プライバシーポリシー', policy_path, class: "link link-hover" %>
  </nav> 
  <aside>
    <p>Copyright © 2024 - Takahiro Nomoto</p>
  </aside>
</footer>