<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to 'Puri.log', root_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to 'マイページ', user_path(current_user) %></li>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>