<div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
  <div class="card-body">
    <h2 class="card-title">2.LINEBOTを友だち登録する。</h2>
    <p>ログイン後にページの上部に表示されるLINE友達追加ボタンを押しましょう。<br>
    ボタンを押すと画像のように、QRコードと友だち追加ボタンが表示されるので、カメラでQRを読み込むか、スマートフォンで友だち追加ボタンをタップしてください。<br>
    LINEが起動して、LINEBOTの友達登録ができます。<br></p>
  </div>
  <figure><%= image_tag "add_line_bot.png", class: "w-full h-auto max-w-xs lg:max-w-sm border-2 border-black", alt: "login_image" %></figure>
</div>
