<div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
  <div class="card-body">
    <h2 class="card-title">3.LINEBOTから記録する。</h2>
    <ul>
      <li>
        <strong>・食事を記録してみよう</strong><br>
        食べるタイミングでLINE BOTを開き、画像の⑦を押しましょう。<br>
        入力画面が表示されるので、食べたものの名前をメッセージしてください。<br>
        入力された内容があなたのデータとして自動で記録されます。<br>
      </li>
      <li>
        <strong>・排便を記録してみよう</strong><br>
        トイレに行ったタイミングでLINE BOTを開き、画像の②のボタンを押しましょう。<br>
        ボタンを押すと、「0.良い・1.普通・2.悪い」の3つの選択肢ボタンがついたメッセージが送られてきます。<br>
        自分の便の状態を選んでタップすれば、排便が記録されます。<br>
      </li>
    </ul>
  </div>
  <figure><%= image_tag "line_bot_image.png", class: "w-full h-auto max-w-xs lg:max-w-sm border-2 border-black", alt: "login_image" %></figure>
</div>
