<div class="h-280 sm:h-192 bg-base-100 shadow-xl max-w-3xl mx-auto border-2 border-black rounded-lg">
  <div class="p-8">
    <h2 class="pr-4 pb-4 font-bold text-xl text-center">4.マイページで自分のデータを確認する</h2>
    <div class="sm:flex">
      <div class="sm:w-1/2 sm:p-4">
        <p><br>マイページには、あなたの記録を元にした様々なデータを確認できます。<br><br>
        データを確認して日々の記録を振り返り、健康管理に役立てましょう。</p>
      </div>
      <div class="sm:w-1/2 sm:p-4">
        <%= image_tag "my_page.png", class: "mt-4 mx-auto w-full h-auto max-w-xs border-2 border-black", alt: "log_image" %>
      </div>
  </div>
</div>
