<div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
  <div class="card-body">
    <h2 class="card-title">4.マイページで自分のデータを確認する</h2>
    <p>マイページには、あなたの記録を元にした様々なデータを確認できます。<br>
    データを確認して日々の記録を振り返り、健康管理に役立てましょう。</p>
  </div>
  <figure><%= image_tag "my_page.png", class: "w-full h-auto max-w-xs lg:max-w-sm border-2 border-black", alt: "log_image" %></figure>
</div>
