<div class="card bg-base-100 shadow-xl max-w-3xl mx-auto">
  <div class="card-body">
    <h2 class="card-title">1.LINE連携ログインをする。</h2>
    <p>画面右上のLINE連携ログインをクリックし、LINEアカウントでログインします。<br></p>
  </div>
  <figure><%= image_tag "line_login_image.png", class: "w-full h-auto max-w-xs lg:max-w-sm border-2 border-black", alt: "login_image" %></figure>
</div>