<div class="card bg-base-100 shadow-xl max-w-3xl mx-auto h-screen md:h-3/4 lg:h-2/3">
  <div class="card-body">
    <h2 class="card-title">6.記録を忘れた時はマイページで日時指定記録</h2>
    <p>マイページ上部の記録フォームでは、日時を指定して記録することできます。<br>
    うっかり記録を忘れた時や、一日の記録をまとめて行う時は、マイページのフォームを使いましょう。<br>
  </div>
  <figure><%= image_tag "log_image.png", class: "w-full h-auto max-w-xs lg:max-w-sm border-2 border-black", alt: "log_image" %></figure>
</div>