<div class="h-280 sm:h-192 bg-base-100 shadow-xl max-w-3xl mx-auto border-2 border-black rounded-lg">
  <div class="p-8">
    <h2 class="pr-4 pb-4 font-bold text-xl">ゲストユーザーでログインする</h2>
    <p>アプリの内容を閲覧したい方向けにゲストユーザーでログインできます。<br><br></p>
    <p><%= @guest_login_email %></p>
    <%= button_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-ghost bg-primary-content", form: { data: { turbo: false } } %>
    <p><br>アプリの機能を手早く体験したい方は、下記から1ヶ月ほどアプリを利用した状態のユーザーアカウントにログインできます。<br><br></p>
    <%= button_to '記録済みユーザーログイン', users_guest_logged_sign_in_path, class: "btn btn-ghost bg-primary-content", form: { data: { turbo: false } } %>
  </div>
</div>