<div class="h-280 sm:h-192 bg-base-100 shadow-xl max-w-3xl mx-auto border-2 border-black rounded-lg">
  <div class="py-8 px-2 sm:px-8">
    <h2 class="pr-4 pb-4 font-bold text-xl text-center">1.LINE連携ログインをする。</h2>
    <div class="sm:flex">
      <div class="sm:w-1/2 sm:p-4">
        <p><br>画面右上のLINE連携ログインをクリックし、LINEアカウントでログインします。<br></p>
      </div>
      <div class="sm:w-1/2 sm:p-4">
        <%= image_tag "line_login_image.png", class: "mt-4 mx-auto w-full h-auto max-w-xs border-2 border-black", alt: "login_image" %>
      </div>
    </div>
  </div>
</div>