<div class="h-280 sm:h-192 bg-base-100 shadow-xl max-w-3xl mx-auto border-2 border-black rounded-lg">
  <div class="p-8">
    <h2 class="pr-4 pb-4 font-bold text-xl">7.相性判定の仕組みについて</h2>
    <p class="indent">あなたの胃腸と食事の相性は、便がどの食事によって生成されたものなのかを推測することで判定しています。<br><br>
    接種した食事が何時間で便となって排出されるのか、資料によっても記述が分かれており、個人差も大きい中で、このアプリでは20時間〜50時間の範囲を基準として設定しています。<br><br></p>
    <p class="indent">排便記録を実施すると、排便記録時間から50時間前を起点とし、排便記録時間の20時間前を終点として範囲を設定。<br>
    その範囲の中で記録されていた食事を、便の元となった可能性がある食事と定めます。<br><br>
    記録された食事メニューにはそれぞれ、ユーザーごとの相性スコアが設定されています。(デフォルトは0)<br>
    記録された便の状態が"悪い"場合、元となった可能性がある食事の相性スコアが-1され、反対に"良い"場合は+1されます。<br><br>
    記録が繰り返されていく中で、相性スコアの増減が繰り返され、+スコアの食事メニューをおすすめの食事として、-スコアの食事メニューを避けるべき食事として提示します。<br>
    提示する基準は+-3を設定していますが、基準値を超えるメニューが無い場合は、+-1を超えるものが一時的に候補として表示されるようになっています。<br></p>
  </div>
</div>

<style>
  .indent {
    text-indent: 1em; /* インデントのサイズを設定 */
  }
</style>

